#textBar{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 15%;
}

#logInButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}